<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/home.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div id="divLogo">
            <img id="img_left" src="/images/logo.png" alt="Logo">
            <h1>ECF</h1>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre nós</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Professores</a></li>
                <li><a href="">Turmas</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div id="divLeft">
            <p id="boldLeft">Nota 10 no MEC</p>
            <p id="bigTextLeft">ECF</p>
            <p>No coração pulsante da criação cinematográfica, surge a Escola Cinematográfica de Filmagens, conhecida
                carinhosamente
                como ECF. Nossa história começou em 2005, quando o cineasta visionário Cleber Site Silva transformou sua
                paixão por contar histórias em sua visão: criar
                um espaço único para cultivar talentos e transformar amantes do cinema em contadores de histórias
                extraordinárias
            </p>
            <div id="buttonsLeft">
                <button id="button1Left">Matricule-se</button>
                <button id="button2Left">Excluir Matricula</button>
            </div>
        </div>
        <div id="divRight">
            <img src="/assets/gar.png" alt="">
        </div>
    </section>

    <div id="div_matricula">
        <p>Matricule-se</p>
        <form action="/criar" method="POST" id="form_mat">
            <input type="text" placeholder="Nome Completo" name="nome_m">
            <input type="text" placeholder="CPF" name="cpf_m">
            <input type="text" placeholder="Data de Nascimento" name="dn_m">
            <input type="email" placeholder="Email Principal" name="email_m">
            <input type="tel" placeholder="Telefone ou celular" name="telefone_m">
            <input id="btn_sub_mat" type="submit" value="Matricular">
        </form>
        <button id="btn_sair_matricula">Sair</button>
    </div>

    <div id="div_agendamento">
        <p>Excluir Matricula</p>
        <form action="/excluir" method="POST">
            <input type="number" placeholder="Insira o ID" name="id_e">
            <input id="btn_conf_agen" type="submit" value="Excluir Matricula">
        </form>
        <button id="btn_sair_agendamento">Sair</button>
    </div>
</body>

</html>